@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10px is 62.5% of 16px = 1 rem */
/* important for REMS */
html{
  font-size: 62.5%;
}

body{
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
}

.sidebar{
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.main{
  flex: 9;
}

.logo{
  margin-right: 1rem;
}

.brand{
  font-size: 2rem;
}

.upperside{
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  margin-bottom: 2.5rem;
}

.add-btn{
  height: 2rem;
  padding-right: 1rem;
}

.mid-btn {
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.query{
  display: flex;
  align-items: center;
  /* not needed doe some reason */
  /* justify-content: center; */
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border: 1px solid rgba(98, 98, 98, 1)
}